.footer {
  background: #121228;
  padding-top: 60px;
  padding-bottom: 60px;

  @include media(desktop) {
  }
}

.footer-container {
}

.footer-top-wrapper {
  margin-bottom: 32px;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }
}

.footer-socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.footer-socials-item {
}

.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-icon {
}

.footer-nav {
  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 74px;
  }
}

.footer-link {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  transition: color 0.3s ease-in-out;

  @include media(desktop) {
  }

  &:hover,
  &:focus {
  }
}

.footer-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}
