.policy-section {
  background: #07071c;
  padding-top: 112px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 136px;
    padding-bottom: 56px;
  }
}

.policy-main-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.35714;
  color: #fff;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 42px;
    line-height: 1.28571;
  }
}

.policy-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 28px;
    line-height: 1.35714;
  }
}

.policy-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.policy-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @include media(desktop) {
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e5e7eb;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 32px;
  }

  @include media(desktop) {
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
