.testimonials-wrapper {
  @include media(desktop) {
  }
}

.testimonials-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 112px;
  }
}

.testimonials-container {
  @include media(desktop) {
  }
}

.testimonials-title {
  @include media(desktop) {
  }
}

.testimonials-subtitle {
  @include media(desktop) {
  }
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;

  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
  }
}

.testimonials-list-item {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #3f51b5;
  padding: 16px;
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    padding: 24px;
    max-width: 416px;
    min-height: 142px;
  }
}

.testimonials-list-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  color: #f9f9f9;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.testimonials-list-item-name {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: right;
  color: #f9f9f9;

  @include media(desktop) {
    font-size: 16px;
  }
}
