<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-content-wrapper">
      <div class="about-text-wrapper">
        <div class="section-title-wrapper about-title-wrapper">
          <h2 class="section-title about-title">About Web Flow</h2>
        </div>
        <p class="section-subtitle about-subtitle">
          Where Creativity Meets Functionality
        </p>
        <p class="about-text">
          We believe that every brand has a story, but not every brand knows how
          to tell it.<br />
          At Web Flow, we blend strategic design, clean code, and performance
          marketing into one fluid process.
        </p>
      </div>
      <div class="about-img-wrapper">
        <div class="about-image-container">
          <p class="about-img-text">Teams across Europe & North America</p>
        </div>
        <ul class="about-list">
          <li class="about-list-item">
            <div class="about-list-item-wrapper">
              <p class="about-number">
                7<span class="about-number-span">+</span>
              </p>
              <p class="about-list-item-text">Years Experience</p>
            </div>
          </li>
          <li class="about-list-item">
            <div class="about-list-item-wrapper">
              <p class="about-number">
                120<span class="about-number-span">+</span>
              </p>
              <p class="about-list-item-text">Projects completed globally</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
