<section class="section blog-section" id="blog">
  <div class="container blog-container">
    <div class="blog-content-wrapper">
      <div class="section-title-wrapper blog-title-wrapper">
        <h2 class="section-title blog-title">Blog & Insights</h2>
      </div>
      <p class="section-subtitle blog-subtitle">
        Stay Ahead with Flow Insights
      </p>
      <ul class="blog-list">
        <li class="blog-list-item">
          <picture>
            <source
              srcset="./img/blog/blog-img1-desk.png"
              media="(min-width: 1440px)"
              width="334"
              height="152" />
            <source
              srcset="./img/blog/blog-img1-mob.png"
              width="271"
              height="152" />
            <img
              class="blog-img"
              src="./img/blog/blog-img1-mob.png"
              alt="Figure"
              width="271"
              height="152"
              loading="lazy"
          /></picture>
          <p class="blog-list-item-text">“5 Web Design Trends Defining 2025”</p>
        </li>
        <li class="blog-list-item">
          <picture>
            <source
              srcset="./img/blog/blog-img2-desk.png"
              media="(min-width: 1440px)"
              width="334"
              height="152" />
            <source
              srcset="./img/blog/blog-img2-mob.png"
              width="271"
              height="152" />
            <img
              class="blog-img"
              src="./img/blog/blog-img2-mob.png"
              alt="Figure"
              width="271"
              height="152"
              loading="lazy"
          /></picture>
          <p class="blog-list-item-text">
            “Why Your Brand Needs a Conversion-First Website”
          </p>
        </li>
        <li class="blog-list-item">
          <picture>
            <source
              srcset="./img/blog/blog-img3-desk.png"
              media="(min-width: 1440px)"
              width="334"
              height="152" />
            <source
              srcset="./img/blog/blog-img3-mob.png"
              width="271"
              height="152" />
            <img
              class="blog-img"
              src="./img/blog/blog-img3-mob.png"
              alt="Figure"
              width="271"
              height="152"
              loading="lazy"
          /></picture>
          <p class="blog-list-item-text">
            “The Future of E-Commerce in Hybrid Markets”
          </p>
        </li>
      </ul>
      <a href="#home" class="blog-read-link">Read Blog</a>
    </div>
  </div>
</section>
