<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <h2 class="section-title contact-title">Contact</h2>
    <p class="section-subtitle contact-subtitle">Start Your AI Journey Today</p>
    <ul class="contact-list">
      <li class="contact-list-item">
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-email"></use>
        </svg>
        <a href="mailto:info@webspotix.online" class="contact-item-link"
          >info@webspotix.online
        </a>
      </li>
      <li class="contact-list-item">
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-phone"></use>
        </svg>
        <a href="tel:+49305550142" class="contact-item-link"
          >+49 (30) 555-0142
        </a>
      </li>
      <li class="contact-list-item">
        <svg class="contact-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-map-point"></use>
        </svg>
        <a href="" class="contact-item-link"
          >Remote-first, global learning community
        </a>
      </li>
    </ul>
    <div class="contact-btn-wrapper">
      <a href="#home" class="contact-book-link">Book a Free Consultation</a>
      <a href="#home" class="contact-talk-link">Talk to a Mentor</a>
    </div>
  </div>
</section>
