<section class="section contact-section" id="contact">
  <div class="container contact-container">
    <div class="contact-content-wrapper">
      <div class="contact-text-wrapper">
        <div class="section-title-wrapper contact-title-wrapper">
          <h2 class="section-title contact-title">Contact</h2>
        </div>
        <p class="section-subtitle contact-subtitle">
          Stay Ahead with Flow Insights
        </p>
        <a href="#home" class="contact-start-link">Start Collaboration</a>
      </div>
      <ul class="contact-list">
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-mail"></use>
          </svg>
          <a href="mailto:info@webflowio.pro" class="contact-item-link"
            >info@webflowio.pro
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-phone"></use>
          </svg>
          <a href="tel:+14158882045" class="contact-item-link"
            >+1 (415) 888-2045
          </a>
        </li>
        <li class="contact-list-item">
          <svg class="contact-icon" width="24" height="24">
            <use href="./img/sprite.svg#icon-location"></use>
          </svg>
          <a href="" class="contact-item-link"
            >Offices: Remote-first with teams in Berlin & Toronto
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
