<section class="policy-section">
  <div class="container policy-container">
    <h1 class="policy-main-title">Cookies Policy</h1>
    <p class="policy-text">
      This Cookies Policy explains what Cookies are and how We use them. You
      should read this policy so You can understand what type of cookies We use,
      or the information We collect using Cookies and how that information is
      used.
    </p>
    <p class="policy-text">
      Cookies do not typically contain any information that personally
      identifies a user, but personal information that we store about You may be
      linked to the information stored in and obtained from Cookies. For further
      information on how We use, store and keep your personal data secure, see
      our Privacy Policy.
    </p>
    <p class="policy-text">
      We do not store sensitive personal information, such as mailing addresses,
      account passwords, etc. in the Cookies We use.
    </p>
    <p class="policy-title">Interpretation and Definitions</p>
    <p class="policy-subtitle">Interpretation</p>
    <p class="policy-text">
      The words of which the initial letter is capitalized have meanings defined
      under the following conditions. The following definitions shall have the
      same meaning regardless of whether they appear in singular or in plural.
    </p>
    <p class="policy-subtitle">Definitions</p>
    <p class="policy-text">For the purposes of this Cookies Policy:</p>
    <ul class="policy-list">
      <li class="policy-item">
        Company (referred to as either "the Company", "We", "Us" or "Our" in
        this Cookies Policy) refers to Web Flow.
      </li>
      <li class="policy-item">
        Cookies means small files that are placed on Your computer, mobile
        device or any other device by a website, containing details of your
        browsing history on that website among its many uses.
      </li>
      <li class="policy-item">
        Website refers to Web Flow, accessible from
        <span class="policy-span">webflowio.pro</span>
      </li>
      <li class="policy-item">
        You means the individual accessing or using the Website, or a company,
        or any legal entity on behalf of which such individual is accessing or
        using the Website, as applicable.
      </li>
    </ul>
    <p class="policy-title">The use of the Cookies</p>
    <p class="policy-subtitle">Type of Cookies We Use</p>
    <p class="policy-text">
      Cookies can be "Persistent" or "Session" Cookies. Persistent Cookies
      remain on your personal computer or mobile device when You go offline,
      while Session Cookies are deleted as soon as You close your web browser.
    </p>
    <p class="policy-text">
      We use both session and persistent Cookies for the purposes set out below:
    </p>
    <ul class="policy-list">
      <li class="policy-item">Necessary / Essential Cookies</li>
    </ul>
    <p class="policy-text">Type: Session Cookies</p>
    <p class="policy-text">Administered by: Us</p>
    <p class="policy-text">
      Purpose: These Cookies are essential to provide You with services
      available through the Website and to enable You to use some of its
      features. They help to authenticate users and prevent fraudulent use of
      user accounts. Without these Cookies, the services that You have asked for
      cannot be provided, and We only use these Cookies to provide You with
      those services.
    </p>
    <ul class="policy-list">
      <li class="policy-item">Functionality Cookies</li>
    </ul>
    <p class="policy-text">Type: Persistent Cookies</p>
    <p class="policy-text">Administered by: Us</p>
    <p class="policy-text">
      Purpose: These Cookies allow us to remember choices You make when You use
      the Website, such as remembering your login details or language
      preference. The purpose of these Cookies is to provide You with a more
      personal experience and to avoid You having to re-enter your preferences
      every time You use the Website.
    </p>
    <p class="policy-subtitle">Your Choices Regarding Cookies</p>
    <p class="policy-text">
      If You prefer to avoid the use of Cookies on the Website, first You must
      disable the use of Cookies in your browser and then delete the Cookies
      saved in your browser associated with this website. You may use this
      option for preventing the use of Cookies at any time.
    </p>
    <p class="policy-text">
      If You do not accept Our Cookies, You may experience some inconvenience in
      your use of the Website and some features may not function properly.
    </p>
    <ul class="policy-list">
      <li class="policy-item">
        For the Chrome web browser, please visit this page from Google:
        <a
          class="policy-link"
          href="https://support.google.com/accounts/answer/32050"
          >https://support.google.com/accounts/answer/32050</a
        >
      </li>
      <li class="policy-item">
        For the Internet Explorer web browser, please visit this page from
        Microsoft:
        <a class="policy-link" href="http://support.microsoft.com/kb/278835"
          >http://support.microsoft.com/kb/278835</a
        >
      </li>
      <li class="policy-item">
        For the Firefox web browser, please visit this page from Mozilla:
        <a
          class="policy-link"
          href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored"
          >https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored</a
        >
      </li>
      <li class="policy-item">
        For the Safari web browser, please visit this page from Apple:
        <a
          class="policy-link"
          href="https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac"
          >https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</a
        >
      </li>
    </ul>
    <p class="policy-text">
      For any other web browser, please visit your web browser's official web
      pages.
    </p>
    <p class="policy-subtitle">More Information about Cookies</p>
    <p class="policy-text">
      You can learn more about cookies:
      <a
        class="policy-link"
        href="https://www.freeprivacypolicy.com/blog/cookies/"
        >Cookies: What Do They Do?</a
      >.
    </p>
    <p class="policy-text">This cookies policy is effective as of 2025-08-26</p>
    <p class="policy-title">Contact Us</p>
    <p class="policy-text">
      If you have any questions about this Privacy Policy, You can contact us by
      email:
      <a class="policy-link" href="mailto:info@webflowio.pro"
        >info@webflowio.pro</a
      >.
    </p>
  </div>
</section>
