<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-rectangles-wrapper">
          <div class="hero-blue-rectangle">
            <p class="hero-rectangle-text">Learn Smarter</p>
          </div>
          <div class="hero-small-rectangles-wrapper">
            <div class="hero-green-rectangle">
              <p class="hero-rectangle-text">Adapt Faster</p>
            </div>
            <div class="hero-turquoise-rectangle">
              <p class="hero-rectangle-text">Thrive with AI</p>
            </div>
          </div>
        </div>
        <p class="hero-text">
          WSX line empowers adults with practical AI-driven learning paths,
          helping them reskill, upskill, and future-proof their careers
        </p>
      </div>
      <div class="hero-btn-wrapper">
        <a href="#contact" class="hero-explore-link">Explore Programs</a>
        <a href="#contact" class="hero-access-link">Free Trial Access</a>
      </div>
    </div>
  </div>
</section>
