<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-main-title">
            We Design, Build & Scale Digital Brands.
          </h1>
          <p class="hero-text">
            Web Flow helps startups and enterprises unlock their online
            potential with bold design, seamless technology, and growth-driven
            strategies.
          </p>
          <div class="hero-btn-wrapper">
            <a href="#contact" class="hero-start-link">Start Your Project</a>
            <a href="#contact" class="hero-view-link">View Portfolio</a>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-browser-desk.png"
            media="(min-width: 1440px)"
            width="728"
            height="531" />
          <source
            srcset="./img/hero/hero-browser-mob.png"
            width="343"
            height="250" />
          <img
            class="hero-img"
            src="./img/hero/hero-browser-mob.png"
            alt="Browser"
            width="343"
            height="250"
        /></picture>
      </div>
    </div>
  </div>
</section>
