<div class="context-menu">
  <!-- <div class="container"> -->
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#services">Services</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#process">Process</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#projects">Projects</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#pricing">Pricing</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#blog">Blog</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
  <!-- </div> -->
</div>
