<section class="section pricing-section" id="pricing">
  <div class="pricing-bg-wrapper">
    <div class="container pricing-container">
      <div class="pricing-content-wrapper">
        <div class="pricing-text-wrapper">
          <div class="section-title-wrapper pricing-title-wrapper">
            <h2 class="section-title pricing-title">Pricing</h2>
          </div>
          <p class="section-subtitle pricing-subtitle">
            Clear Pricing. Flexible Engagement
          </p>
          <ul class="pricing-list">
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Starter</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">Small business / MVP</p>
                <p class="pricing-list-item-price">
                  <span class="pricing-item-span">$</span> 1,900
                </p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">1 Landing Page</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Branding Basics</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">
                      5 Social Media Templates
                    </p>
                  </li>
                </ul>
                <a href="#contact" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Growth</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">Scaling startups</p>
                <p class="pricing-list-item-price">
                  <span class="pricing-item-span">$</span> 5,500
                </p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">
                      Full Website (up to 8 pages)
                    </p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">SEO Setup</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Ads Launch Pack</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Monthly Analytics</p>
                  </li>
                </ul>
                <a href="#contact" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
            <li class="pricing-list-item">
              <p class="pricing-list-item-title">Enterprise</p>
              <div class="pricing-list-item-wrapper">
                <p class="pricing-list-item-subtitle">Established businesses</p>
                <p class="pricing-list-item-price">
                  <span class="pricing-item-span">$</span> 12,000
                </p>
                <ul class="pricing-features-list">
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Brand Ecosystem</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Custom Web App</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Full Funnel Marketing</p>
                  </li>
                  <li class="pricing-features-item">
                    <svg class="check-icon" width="24" height="24">
                      <use href="./img/sprite.svg#icon-check"></use>
                    </svg>
                    <p class="pricing-features-text">Dedicated Support Team</p>
                  </li>
                </ul>
                <a href="#contact" class="pricing-request-link"
                  >Request Proposal</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
