<section class="section process-section" id="process">
  <div class="container process-container">
    <div class="section-title-wrapper process-title-wrapper">
      <h2 class="section-title process-title">Our Flow Method</h2>
    </div>
    <p class="section-subtitle process-subtitle">The Web Flow Process</p>
    <ul class="process-list">
      <li class="process-list-item">
        <span class="process-item-number">01</span>
        <p class="process-list-item-title">Discover</p>
        <p class="process-list-item-text">Brand & market research</p>
      </li>
      <li class="process-list-item">
        <span class="process-item-number">02</span>
        <p class="process-list-item-title">Design</p>
        <p class="process-list-item-text">Concepts, prototypes, UI/UX flows</p>
      </li>
      <li class="process-list-item">
        <span class="process-item-number">03</span>
        <p class="process-list-item-title">Develop</p>
        <p class="process-list-item-text">Code, integrations, automation</p>
      </li>
      <li class="process-list-item">
        <span class="process-item-number">04</span>
        <p class="process-list-item-title">Deploy</p>
        <p class="process-list-item-text">Launch across platforms</p>
      </li>
      <li class="process-list-item">
        <span class="process-item-number">05</span>
        <p class="process-list-item-title">Diagnose</p>
        <p class="process-list-item-text">
          Analytics, reporting & optimization
        </p>
      </li>
    </ul>
  </div>
</section>
