<section class="section projects-section" id="projects">
  <div class="container projects-container">
    <p class="section-subtitle projects-subtitle">Projects Showcase</p>
    <ul class="projects-list">
      <li class="projects-list-item">
        <picture>
          <source
            srcset="./img/projects/projects-img1-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/projects/projects-img1-mob.png"
            width="303"
            height="152" />
          <img
            class="projects-img"
            src="./img/projects/projects-img1-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="projects-list-item-title">FinTech SaaS Launch (NY)</p>
        <p class="projects-list-item-text">
          2.3x higher conversion after full funnel redesign
        </p>
      </li>
      <li class="projects-list-item">
        <picture>
          <source
            srcset="./img/projects/projects-img2-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/projects/projects-img2-mob.png"
            width="303"
            height="152" />
          <img
            class="projects-img"
            src="./img/projects/projects-img2-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="projects-list-item-title">FinTech SaaS Launch (NY)</p>
        <p class="projects-list-item-text">
          2.3x higher conversion after full funnel redesign
        </p>
      </li>
      <li class="projects-list-item">
        <picture>
          <source
            srcset="./img/projects/projects-img3-desk.png"
            media="(min-width: 1440px)"
            width="354"
            height="152" />
          <source
            srcset="./img/projects/projects-img3-mob.png"
            width="303"
            height="152" />
          <img
            class="projects-img"
            src="./img/projects/projects-img3-mob.png"
            alt="Figure"
            width="303"
            height="152"
            loading="lazy"
        /></picture>
        <p class="projects-list-item-title">FinTech SaaS Launch (NY)</p>
        <p class="projects-list-item-text">
          2.3x higher conversion after full funnel redesign
        </p>
      </li>
    </ul>
    <a href="#contact" class="projects-start-link">Explore Case Studies</a>
  </div>
</section>
