<section class="section services-section" id="services">
  <div class="container services-container">
    <div class="services-content-wrapper">
      <div class="services-text-wrapper">
        <div class="section-title-wrapper services-title-wrapper">
          <h2 class="section-title services-title">Services</h2>
        </div>
        <p class="section-subtitle services-subtitle">What We Deliver</p>
        <ul class="services-list">
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-brand"></use>
              </svg>
              <p class="services-list-item-title">Branding & Identity</p>
              <p class="services-list-item-text">
                Logo design, style guides, motion graphics
              </p>
            </div>
          </li>
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-dev"></use>
              </svg>
              <p class="services-list-item-title">Web Development</p>
              <p class="services-list-item-text">
                Landing pages, corporate websites, SaaS platforms
              </p>
            </div>
          </li>
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-ux"></use>
              </svg>
              <p class="services-list-item-title">UX/UI Design</p>
              <p class="services-list-item-text">
                Interfaces built for clarity, usability, and engagement
              </p>
            </div>
          </li>
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-market"></use>
              </svg>
              <p class="services-list-item-title">Growth Marketing</p>
              <p class="services-list-item-text">
                Paid ads, SEO, funnel optimization
              </p>
            </div>
          </li>
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-e-commerce"></use>
              </svg>
              <p class="services-list-item-title">E-commerce Solutions</p>
              <p class="services-list-item-text">
                Shopify & WooCommerce systems that scale
              </p>
            </div>
          </li>
          <li class="services-list-item">
            <div class="services-list-item-wrapper">
              <svg class="services-icon" width="40" height="40">
                <use href="./img/sprite.svg#icon-analytics"></use>
              </svg>
              <p class="services-list-item-title">Analytics & Conversion</p>
              <p class="services-list-item-text">
                Data-driven optimization for measurable growth
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
